$color-green: greenyellow;
$color-green-alpha: rgba(83, 175, 19, 0.2);
$crosshairwidth: 1rem;

$bp-lg: 62.5em; //1000px
$bp-med: 43.75em; //700px
$bp-sm: 33.75em; //540px
$bp-xsm: 25em; //400px

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Dosis', sans-serif;
}

body {
    background: #000;
    height: 100vh;
    font-size: 1.6rem;
    box-sizing: border-box;

    display: grid;
    justify-content: center;
    align-items: center;
}

.board {
    width: 100%;
    max-width: 100rem;
    position: relative;

    display: grid;
    grid-template-columns: 1fr repeat(2, min-content) 1fr;
}

.panel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    grid-template-rows: 10rem;
    grid-column: 2 / 4;

    &__message-area {
        grid-column: 1 / 2;
        padding: 0 3rem;

        color: $color-green;
        font-size: 2.4rem;
        text-align: right;
        align-self: center;

        @media only screen and (max-width: $bp-sm) {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            font-size: 2rem;
            text-align: center;
        }
    }

    form {
        text-align: right;
        align-self: center;

        grid-column: 2 / 3;
        grid-row: 1 / 2;

        @media only screen and (max-width: $bp-sm) {
            text-align: center;
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            text-align: center;
        }

        input {
            background-color: rgb(83, 175, 19);
            font-family: inherit;
            text-transform: uppercase;
            padding: 0.8rem 2.4rem;
            font-size: 2.2rem;
            font-weight: bold;
            border: none;
            width: 10rem;
            // border-top-right-radius: 0.8rem;
            // border-bottom-right-radius: 0.8rem;
            // border-bottom-left-radius: 2rem;
            // border-top-left-radius: 2rem;
            border-radius: 1.5rem;
            border: 3px solid transparent;
            outline: none;
            background: #333;
            color: #fff;

            @media only screen and (max-width: $bp-sm) {
                font-size: 1.8rem;
            }

            &:focus {
                border: 3px solid #4f4f4f;
                background: #222;
            }

            &::placeholder {
                color: #444;
            }
        }
    }
}

.btn {
    font-family: inherit;
    font-size: 2rem;
    outline: none;
    border: none;
    cursor: pointer;

    &-fire {
        padding: 0.9rem 2rem;
        // border-top-right-radius: 2rem;
        // border-bottom-right-radius: 2rem;
        // border-bottom-left-radius: 0.8rem;
        // border-top-left-radius: 0.8rem;
        border-radius: 1.5rem;
        transition: all 0.25s;
        font-weight: bold;
        background: #ff9500;
        border: 2px solid transparent;
        margin-left: 0.6rem;

        @media only screen and (max-width: $bp-sm) {
            font-size: 1.8rem;
        }

        &:hover {
            background: #ff7300;
        }
    }
}

.row-container {
    display: grid;
    grid-template-columns: 4rem repeat(7, 9.4rem);
    grid-template-rows: 6rem repeat(7, minmax(auto, 9.4rem));
    justify-content: center;
    position: relative;

    grid-column: 2 / 4;
    grid-row: 2 / 3;

    @media only screen and (max-width: $bp-lg) {
        grid-template-columns: 6rem repeat(7, 9rem);
        grid-template-rows: 8rem repeat(7, minmax(auto, 9rem));
    }

    @media only screen and (max-width: $bp-med) {
        grid-template-columns: 4.5rem repeat(7, 7rem);
        grid-template-rows: 8rem repeat(7, minmax(auto, 7rem));
    }

    @media only screen and (max-width: $bp-sm) {
        grid-template-columns: 4.5rem repeat(7, 5.5rem);
        grid-template-rows: 8rem repeat(7, minmax(auto, 5.5rem));
    }

    @media only screen and (max-width: $bp-xsm) {
        grid-template-columns: 4rem repeat(7, 4.5rem);
        grid-template-rows: 8rem repeat(7, minmax(auto, 4.5rem));
    }

    & > *:nth-of-type(1n + 10) {
        border: 1px solid $color-green;
        display: grid;
        place-items: center;
        font-size: 2.6rem;
        color: $color-green;
    }

    // & > *:not(.row-label, .col-label, :first-child) {
    // }

    & > .row-label {
        border: 1px solid transparent;
        justify-self: end;
        padding-right: 2rem;
        align-self: center;
    }

    .crosshair {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 105%;
        height: 105%;
        border-radius: 50%;
        background-color: $color-green-alpha;
        border: $crosshairwidth solid $color-green-alpha;
        z-index: 2;

        grid-row: 2 / -1;
        grid-column: 2 / -1;

        .md {
            width: 60%;
            height: 60%;
            transform: translate(-50%, -50%);
        }

        .sm {
            width: 30%;
            height: 30%;
            transform: translate(-50%, -50%);
            border: 0.6rem solid $color-green-alpha;
        }

        .line {
            border: none;
            width: 90%;
            height: 1rem;
            border-radius: 0;
            background-color: $color-green-alpha;
            transform: translate(-50%, -50%);

            &-vertical {
                position: absolute;
                top: 50%;
                left: 50%;
                height: 6rem;
                width: 0.7rem;
                transform: translate(-50%, -50%);
                background-color: $color-green-alpha;

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 3rem;
                    transform: translateY(-50%);
                    width: 0.7rem;
                    height: 4rem;
                    background-color: $color-green-alpha;
                }

                &::after {
                    left: 3rem;
                }

                .tip {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: $crosshairwidth;
                    height: 3rem;
                    background-color: $color-green;
                }
            }
        }
    }
}

.col-label {
    text-align: center;
    align-self: end;
    padding-bottom: 2rem;
}

.row-container > .row-label,
.col-label {
    color: $color-green;
    font-size: 3rem;
    font-weight: 900;

    @media only screen and (max-width: $bp-xsm) {
        font-size: 2rem;
    }
}

.hit {
    object-fit: contain;
    width: 90%;
    height: 90%;
    z-index: 10;
}

.miss {
    object-fit: contain;
    width: 70%;
    height: auto;
    z-index: 10;
    fill: rgb(83, 175, 19);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%) scale(0.85);
    width: 34rem;
    background: #030303;
    border-radius: 1.4rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    color: rgb(83, 175, 19);
    border: 2px solid #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
    z-index: 50;

    @media only screen and (max-width: $bp-med) {
    }

    &-close {
        position: absolute;
        top: -1rem;
        right: 2rem;
        font-size: 6rem;
        background: transparent;
        color: #555;
        cursor: pointer;
        outline: none;
        color: yellowgreen;
    }

    &-msg {
        font-size: 2.8rem;
        text-align: center;
        color: orangered;
    }

    &-soldier {
        width: 294px;
        height: 311px;
        margin-top: -15rem;

        img {
            height: 100%;
        }
    }

    &--show {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, -60%) scale(1);
    }
}
