*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Dosis", sans-serif;
}

body {
  height: 100%;
  font-size: 1.6rem;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #030610 0%, rgba(31, 71, 105, 0.49) 41.51%, rgba(138, 123, 17, 0.4) 58.51%, rgba(17, 36, 104, 0.13) 62.51%, #000 100%), #000000;
  display: grid;
  place-items: center;
}

.ship {
  position: absolute;
  top: 56rem;
  left: -9%;
  fill: #02040e;
}
.ship--2 {
  position: absolute;
  top: 57.5rem;
  left: 80%;
}
.ship__svg {
  width: 50rem;
}
.ship__svg--2 {
  width: 10rem;
  fill: #02040e;
}

.board {
  width: 100%;
  max-width: 100rem;
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr repeat(2, min-content) 1fr;
}

.panel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  grid-column: 2/4;
  padding-left: 4rem;
  margin-bottom: 2rem;
}
.panel__heading {
  fill: greenyellow;
  grid-column: 1/-1;
  justify-self: center;
  width: 100%;
  height: 12rem;
}
@media only screen and (max-width: 43.75em) {
  .panel__heading {
    display: none;
  }
}
.panel__heading-svg {
  fill: #d6b925;
  width: 100%;
}
.panel__message-area {
  grid-column: 1/2;
  padding: 0 3rem;
  min-height: 7rem;
  color: greenyellow;
  font-size: 2.4rem;
  text-align: center;
  align-self: center;
}
@media only screen and (max-width: 43.75em) {
  .panel__message-area {
    padding: 4rem 4vw;
    grid-column: 1/3;
    font-size: 2rem;
    text-align: center;
  }
}
.panel form {
  text-align: right;
  align-self: center;
  height: 100%;
  padding: 3rem 0;
  grid-column: 2/3;
  grid-row: 2/3;
}
@media only screen and (max-width: 43.75em) {
  .panel form {
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
  }
}
@media only screen and (max-width: 33.75em) {
  .panel form {
    text-align: center;
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
  }
}
.panel form input {
  background-color: #53af13;
  font-family: inherit;
  text-transform: uppercase;
  padding: 0.8rem 2.4rem;
  font-size: 2.2rem;
  font-weight: bold;
  border: none;
  width: 10rem;
  border-radius: 1.5rem;
  border: 3px solid #444;
  outline: none;
  background: #333;
  color: #fff;
}
@media only screen and (max-width: 33.75em) {
  .panel form input {
    font-size: 1.8rem;
  }
}
.panel form input:focus {
  border: 3px solid #555;
  background: #222;
}
.panel form input::placeholder {
  color: #4f4f4f;
}

.btn {
  font-family: inherit;
  font-size: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn-fire {
  padding: 0.6rem 1.8rem;
  border-radius: 1.5rem;
  transition: all 0.25s;
  font-weight: bold;
  background: #ff9500;
  border: 2px solid transparent;
  margin-left: 0.6rem;
}
@media only screen and (max-width: 33.75em) {
  .btn-fire {
    font-size: 1.8rem;
  }
}
.btn-fire:hover {
  background: #ff7300;
}
.btn__play-again {
  margin-top: 1rem;
  padding: 0.6rem 2rem;
  border-radius: 1.5rem;
  background: #152d82;
  border: 2px solid #375d71;
  color: #fff;
}

.grid-box {
  display: grid;
  grid-template-columns: 4rem repeat(7, 9.4rem);
  grid-template-rows: 6rem repeat(7, minmax(auto, 9.4rem));
  justify-content: center;
  position: relative;
  grid-column: 2/4;
  grid-row: 2/3;
}
@media only screen and (max-width: 62.5em) {
  .grid-box {
    grid-template-columns: 6rem repeat(7, 10vw);
    grid-template-rows: 8rem repeat(7, minmax(auto, 10vw));
  }
}
.grid-box > *:nth-of-type(1n + 10) {
  border: 1px solid rgba(173, 255, 47, 0.3);
  display: grid;
  place-items: center;
  font-size: 2.6rem;
  color: greenyellow;
}
.grid-box > .row-label {
  border: 1px solid transparent;
  justify-self: end;
  padding-right: 2rem;
  align-self: center;
}
.grid-box .crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 105%;
  height: 105%;
  border-radius: 50%;
  background-color: rgba(83, 175, 19, 0.2);
  border: 0.6rem solid rgba(83, 175, 19, 0.2);
  z-index: 2;
  grid-row: 2/-1;
  grid-column: 2/-1;
}
.grid-box .crosshair .md {
  width: 60%;
  height: 60%;
  transform: translate(-50%, -50%);
  background-color: rgba(83, 175, 19, 0.05);
}
.grid-box .crosshair .sm {
  width: 30%;
  height: 30%;
  transform: translate(-50%, -50%);
  background-color: rgba(83, 175, 19, 0.02);
  border: 0.6rem solid rgba(83, 175, 19, 0.2);
}
.grid-box .crosshair .line {
  border: none;
  width: 90%;
  height: 0.6rem;
  border-radius: 0;
  background-color: rgba(83, 175, 19, 0.2);
  transform: translate(-50%, -50%);
}
.grid-box .crosshair .line-vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 6rem;
  width: 0.3rem;
  transform: translate(-50%, -50%);
  background-color: rgba(83, 175, 19, 0.2);
}
.grid-box .crosshair .line-vertical::before, .grid-box .crosshair .line-vertical::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 3rem;
  transform: translateY(-50%);
  width: 0.3rem;
  height: 4rem;
  background-color: rgba(83, 175, 19, 0.2);
}
.grid-box .crosshair .line-vertical::after {
  left: 3rem;
}
.col-label {
  text-align: center;
  align-self: end;
  padding-bottom: 2rem;
}

.grid-box > .row-label,
.col-label {
  color: greenyellow;
  font-size: 3rem;
  font-weight: 900;
}
@media only screen and (max-width: 25em) {
  .grid-box > .row-label,
.col-label {
    font-size: 2rem;
  }
}

.hit {
  object-fit: contain;
  width: 90%;
  height: 90%;
  z-index: 10;
}

.miss {
  object-fit: contain;
  width: 70%;
  height: auto;
  z-index: 10;
  fill: greenyellow;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%) scale(0.85);
  width: 34rem;
  background: #030303;
  border-radius: 1.4rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  color: #53af13;
  border: 2px solid #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  z-index: 50;
}
.modal-close {
  position: absolute;
  top: -1rem;
  right: 2rem;
  font-size: 6rem;
  background: transparent;
  color: #555;
  cursor: pointer;
  outline: none;
  color: yellowgreen;
}
.modal-msg {
  font-size: 2.8rem;
  text-align: center;
  color: #ff9500;
}
.modal-soldier {
  width: 294px;
  height: 311px;
  margin-top: -15rem;
}
.modal-soldier img {
  height: 100%;
}
.modal--show {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -60%) scale(1);
}

.game-score {
  display: grid;
  width: 100%;
  color: greenyellow;
  grid-column: 1/-1;
  justify-self: center;
  font-size: 1.8rem;
}
.game-score span {
  color: #ff9500;
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}
.game-score span:last-child {
  padding-right: 0;
}
.game-score .value {
  color: greenyellow;
  display: inline-block;
}
.game-score__score {
  grid-column: 2/3;
  justify-self: center;
}
.game-score__high-score {
  grid-column: 1/2;
  justify-self: center;
  font-size: 2.1rem;
}
@media only screen and (max-width: 33.75em) {
  .game-score__high-score, .game-score__score {
    font-size: 1.4rem;
  }
}

/*# sourceMappingURL=style.css.map */
