*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Dosis", sans-serif;
}

body {
  background: #000;
  height: 100vh;
  font-size: 1.6rem;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-items: center;
}

.board {
  width: 100%;
  max-width: 100rem;
  /* height: 100rem; */
  /* background: url('img/board.jpg') no-repeat; */
  position: relative;
  display: grid;
  grid-template-columns: 1fr repeat(2, min-content) 1fr;
}

.top-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-column: 2/4;
  padding: 2rem;
}

.messageArea {
  grid-column: 2/3;
  color: greenyellow;
  font-size: 2.8rem;
  text-align: center;
  align-self: center;
}

form {
  text-align: center;
  grid-column: 3/4;
  grid-row: 1/2;
}
form input {
  background-color: #53af13;
  font-family: inherit;
  text-transform: uppercase;
  padding: 1rem 2.4rem;
  font-size: 2.2rem;
  font-weight: bold;
  border: none;
  width: 12rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border: 2px solid transparent;
  outline: none;
}
form input:focus {
  border: 2px solid #afffa9;
}

.btn {
  font-family: inherit;
  font-size: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn-fire {
  padding: 1rem 2.6rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  transition: all 0.25s;
  font-weight: bold;
  background: #ff9500;
  border: 2px solid transparent;
}
.btn-fire:hover {
  background: orangered;
}

.row-container {
  display: grid;
  grid-template-columns: 5rem repeat(7, 10rem);
  grid-template-rows: 6rem repeat(7, minmax(auto, 10rem));
  justify-content: center;
  position: relative;
  grid-column: 2/4;
  grid-row: 2/3;
}
.row-container > *:nth-of-type(1n + 10) {
  border: 1px solid greenyellow;
}
.row-container > *:not(.row-label, .col-label, :first-child) {
  background-color: rgba(83, 175, 19, 0.1);
}
.row-container > *:nth-of-type(8n + 9) {
  border: 1px solid transparent;
  justify-self: end;
  padding-right: 2rem;
  align-self: center;
}
.row-container .crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65rem;
  height: 65rem;
  border-radius: 50%;
  background-color: rgba(83, 175, 19, 0);
  border: 0.9rem solid rgba(83, 175, 19, 0.2);
  grid-row: 2/-1;
  grid-column: 2/-1;
}
.row-container .crosshair .md {
  width: 60%;
  height: 60%;
  transform: translate(-50%, -50%);
}
.row-container .crosshair .sm {
  width: 30%;
  height: 30%;
  transform: translate(-50%, -50%);
  border: 0.6rem solid rgba(83, 175, 19, 0.2);
}
.row-container .crosshair .line {
  border: none;
  width: 90%;
  height: 1rem;
  border-radius: 0;
  background-color: rgba(83, 175, 19, 0.2);
  transform: translate(-50%, -50%);
}
.row-container .crosshair .line-vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 6rem;
  width: 0.7rem;
  transform: translate(-50%, -50%);
  background-color: rgba(83, 175, 19, 0.2);
}
.row-container .crosshair .line-vertical::before, .row-container .crosshair .line-vertical::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 3rem;
  transform: translateY(-50%);
  width: 0.7rem;
  height: 4rem;
  background-color: rgba(83, 175, 19, 0.2);
}
.row-container .crosshair .line-vertical::after {
  left: 3rem;
}
.row-container .crosshair .line-vertical .tip {
  position: absolute;
  top: 50%;
  left: 50%;
}
.row-label {
  align-content: center;
  justify-content: center;
}

.col-label {
  justify-self: center;
  align-self: end;
  padding-bottom: 2rem;
}

.row-label,
.col-label {
  color: greenyellow;
  font-size: 3rem;
  font-weight: 900;
}

.hit {
  background: url("img/ship.png") no-repeat center center;
}

.miss {
  background: url("img/miss.png") no-repeat center center;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%) scale(0.85);
  width: 34rem;
  background: #030303;
  border-radius: 1.4rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  color: #53af13;
  border: 2px solid #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
}
.modal-close {
  position: absolute;
  top: -1rem;
  right: 2rem;
  font-size: 6rem;
  background: transparent;
  color: #555;
  cursor: pointer;
  outline: none;
  color: yellowgreen;
}
.modal-msg {
  font-size: 2.8rem;
  text-align: center;
  color: orangered;
}
.modal-soldier {
  width: 294px;
  height: 311px;
  margin-top: -15rem;
}
.modal-soldier img {
  height: 100%;
}
.modal--show {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -60%) scale(1);
}

@media only screen and (max-width: 1000px) {
  .row-container {
    grid-template-columns: 6rem repeat(7, 9rem);
    grid-template-rows: 8rem repeat(7, minmax(auto, 9rem));
  }
}
@media only screen and (max-width: 700px) {
  .row-container {
    grid-template-columns: 6rem repeat(7, 7rem);
    grid-template-rows: 8rem repeat(7, minmax(auto, 7rem));
  }
}

/*# sourceMappingURL=style.css.map */
